<template name="templateBasicFooter">
    <footer class="meteoris-footer">
        <div class="container text-center">
            <span class="copyright"> 
                <a href="http://wwww.cspvolley.fr" target="_blank">CSP Volley</a>. 
            </span>
        </div>
    </footer>
</template>