<template name="templateBasicHeader">
    <nav class="meteoris-navbar navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'sitesIndex'}}"><img src="/svg/logo.svg"/> {{app "name"}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
                    <li><a href="{{pathFor 'usersIndex'}}">Users</a></li>
                    <li><a href="{{pathFor 'enfantsIndex'}}">Enfants</a></li>
                    <li><a href="{{pathFor 'postsIndex'}}">Posts</a></li>
                    {{#if app 'activateMugen'}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mugen <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/mugen">Crudss Generator</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor 'mugenRoleActionsManage'}}">Role</a></li>                                                        
                            <li><a href="{{pathFor 'mugenRoleCollections'}}">Role Collection</a></li>
                            <li><a href="{{pathFor 'mugenRoleGroups'}}">Role Group</a></li>
                            <!--<li><a href="{{pathFor 'mugenRoleActions'}}">Role Actions</a></li>-->
                        </ul>
                    </li>
                    {{/if}}
                    <li class="dropdown">
                        {{#if currentUser}}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.profile.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{pathFor 'usersProfile'}}">Profile</a></li>
                            <li><a href="#">Help</a></li>
                            <li class="divider"></li>
                            <li id="btnLogout"><a href="#">Logout</a></li>
                        </ul>
                        {{else}}
                        <a href="{{pathFor 'usersLogin'}}">Login</a>
                        {{/if}}
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>